.contenedor-filtro {
    position: fixed; /* Mantener fijo en la pantalla */
    top: 90px; /* Ajusta según la altura de tu header */
    left: 0; /* Alinear a la izquierda */
    width: 15%; /* Ocupa el 20% del ancho del navegador */
    height: calc(100% - 60px); /* Resto de la altura de la ventana menos la altura del header */
    overflow-y: auto; /* Agregar scroll vertical si hay muchas categorías */
    background-color: #ecf0f1; /* Fondo para el contenedor (opcional) */
    border-right: 1px solid #34495e; /* Límite derecho (opcional) */
    padding: 5px; /* Espaciado interno */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad (opcional) */
}

.titulo-filtro-con-favoritos {
    display: flex;
    justify-content: space-between; /* Espacio entre el título y el botón de favoritos */
    align-items: center;
}

.titulo-seccion-filtro {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50; /* Color del título */
}

.categorias-container {
    display: flex;
    flex-direction: column; /* Coloca las categorías en una columna */
}

.categoria-boton {
    display: flex;
    align-items: center;
    padding: 10px 15px; /* Espaciado interno */
    border: none;
    background-color: #2c3e50;; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    margin: 5px 0; /* Espaciado entre botones */
    font-size: 1rem; /* Tamaño de la fuente */
    text-align: center; /* Alinear el texto a la izquierda */
}

.categoria-boton:hover {
    background-color: #1abc9c; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Escalar ligeramente el botón */
}

.categoria-boton:focus {
    outline: none; /* Quitar el contorno al enfocar */
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); /* Resaltar el botón al enfocar */
}

.tooltip {
    position: absolute;
    background-color: #2c3e50; /* Color de fondo de la tooltip */
    color: white;
    padding: 5px;
    border-radius: 5px;
    top: 100%; /* Justo debajo del botón */
    left: 0; /* Alinear a la izquierda */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}
.icono-favorito{
    color: red;
}
